// Color Variables
$primary-color: #ff5f00;
$primary-outline-color: #ff5f00;
$secondary-color: #2ecc71;
$font-stack: 'Roboto, sans-serif';

$black: #000000;
$white: #FFFFFF;
$form_placeholder: #bdbdbd;
$form_label: #333232;
$form_border: #c8c8c8;

$primary_btn_color: #ff5f00;
$primary_btn_hover: #ff6f1a;

// Spacing Variables
$padding-base: 16px;
$margin-base: 16px;
