// Import utility files
@import '../assets/sass/utilities/variables';
@import '../assets/sass/utilities/mixins';

// Import base styles
@import '../assets/sass/base/reset';
@import '../assets/sass/base/typography';

// Import layout styles
@import '../assets/sass/layout/header';
@import '../assets/sass/layout/footer';
@import '../assets/sass/layout/grid';

// Import components
@import '../assets/sass/components/buttons';
@import '../assets/sass/components/card';

// Import page specific styles
@import '../assets/sass/pages/home';
@import '../assets/sass/pages/about';


.form_control {
    padding: 0.375rem 0.15rem;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-radius: 0px !important;
    border-bottom: 1px solid $form_border !important;
}

input:focus {
    outline: 0;
    box-shadow: none !important;
}

input::placeholder {
    color: $form_placeholder !important;
}

.password_form_control {
    position: relative;
}

.toggle-password {
    position: absolute;
    top: 41.6%;
    right: 4%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 18px;
    user-select: none;

    i {
        color: $form_placeholder;
    }
}

.signin_page_section {
    width: 100%;
    // height: 100%;
    background: url("../assets/img/background/bg-img1.jpg") no-repeat center center;
    background-size: cover;
    position: relative;
}

.signin_page_section--content {
    position: relative;
    width: auto;
}

.signin_page_section--content--box {
    position: absolute;
    top: 0;
    left: 35px;
}

.signin_page_section--content--box--heading {
    font-size: 4rem;
}

.signin_page_section--content--box--title {
    font-size: 2rem;
}

.logo_img {
    width: 100px;
    height: 150px
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 66.6%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

.left-side p {
    margin: 0 7px 0px 0px;
}

.social-icons--box {
    margin-top: 29rem;
}

.social-icons {
    display: flex;
    gap: 20px;
}

.social-icon {
    color: white;
    width: 45px;
    height: 45px;
    margin: 0 -10px 0 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    text-decoration: none;
    background-color: #ff6600;

    & :hover {
        background-color: #ff6600;
    }
}

.right-side {
    // height: 700px;
    // overflow: scroll;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    box-shadow: -1px -3px 5px 0px rgba(0, 0, 0, 0.75);
}

.signup-form {
    width: 80%;
    max-width: 500px;

    p{
      font-size: 14px;
        color: $form_label;
    }
}

.signup_form--label {
    color: $form_label;
    font-size: 12px;
}

.form_select {
    width: 19%;
    border: none;
}

.phone_number_inputbox--main {
    position: relative;
}

.phone_number_inputbox {
    position: absolute;
    top: 0%;
    left: 0%;
}

.signup-form h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: $black;
}

.signup-form p {
    margin-bottom: 1.5rem;
    color: $form_label !important;
}

.signup-form .form-group {
    margin-bottom: 1rem;
}

.signup-form .form-check-label a {
    color: #007bff;
    text-decoration: none;
}

.signup-form .form-check-label a:hover {
    text-decoration: underline;
}

/***** Signup Page Section Ends *****/

.signin_btn {
    width: 100%;
    height: 50px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    border: none;
    padding: 15px 30px;
    border-radius: 50px;
    font-family: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: #e65500 0.3s ease;
    background-color: #ff6600 !important;

    &:hover {
        background-color: #ff6f1a !important;
    }
}

.social_btn {
    width: 300px;
    height: 50px;
    font-size: 1rem;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    font-weight: bold;
}

.btn-logo {
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

.btn-google {
    width: 100%;
    color: #000;
    background-color: #fff;
    border: 1px solid #ff6600;

    &:hover {
        background-color: #f1f1f1;
    }
}

.btn-facebook {
    width: 100%;
    background-color: #fff;
    color: #3b5998;
    border: 1px solid #3b5998;

    &:hover {
        background-color: #f1f1f1;
    }
}

.sign-in-link {
    color: #ff6600;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

/***** Signup Page Section Ends *****/